In [7]:
import pandas as pd
from sqlalchemy import create_engine

In [13]:
tv_shows_file = "Resources/tv_shows.csv"
tv_shows_df = pd.read_csv(tv_shows_file)
tv_shows_df.head()

,Unnamed: 0,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type,Unnamed: 11
0,0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1,NaN
1,1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1,NaN
2,2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1,NaN
3,3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1,NaN
4,4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1,NaN

In [32]:
netflix_shows_df = tv_shows_df[['Title', 'Age', 'Netflix']]
netflix_shows_df.head()

              Title  Age  Netflix
0      Breaking Bad  18+        1
1   Stranger Things  16+        1
2       Money Heist  18+        1
3          Sherlock  16+        1
4  Better Call Saul  18+        1

In [33]:
netflix_shows_df.rename(columns={'Netflix':'Streaming_Service'})

                                Title  Age  Streaming_Service
0                        Breaking Bad  18+                  1
1                     Stranger Things  16+                  1
2                         Money Heist  18+                  1
3                            Sherlock  16+                  1
4                    Better Call Saul  18+                  1
...                               ...  ...                ...
5606  Tut's Treasures: Hidden Secrets  NaN                  0
5607                 Paradise Islands  NaN                  0
5608                      Wild Russia  NaN                  0
5609                      Love & Vets  NaN                  0
5610         United States of Animals  NaN                  0

[5611 rows x 3 columns]

In [37]:
netflix_shows_df = netflix_shows_df.rename(columns={'Netflix':'Streaming_Service'})

netflix_shows_df.loc[netflix_shows_df.Streaming_Service == 1, 'Streaming_Service']= 'Netflix'

In [38]:
netflix_shows_df

                                Title  Age Streaming_Service
0                        Breaking Bad  18+           Netflix
1                     Stranger Things  16+           Netflix
2                         Money Heist  18+           Netflix
3                            Sherlock  16+           Netflix
4                    Better Call Saul  18+           Netflix
...                               ...  ...               ...
5606  Tut's Treasures: Hidden Secrets  NaN                 0
5607                 Paradise Islands  NaN                 0
5608                      Wild Russia  NaN                 0
5609                      Love & Vets  NaN                 0
5610         United States of Animals  NaN                 0

[5611 rows x 3 columns]

In [39]:
prime_tv_shows_file = "Resources/Prime TV Shows Data set.csv"
prime_tv_shows_df = pd.read_csv(prime_tv_shows_file, encoding='unicode_escape')
prime_tv_shows_df.head()

,S.no.,Name of the show,Year of release,No of seasons available,Language,Genre,IMDb rating,Age of viewers
0,1,Pataal Lok,2020.0,1.0,Hindi,Drama,7.5,18+
1,2,Upload,2020.0,1.0,English,Sci-fi comedy,8.1,16+
2,3,The Marvelous Mrs. Maisel,2017.0,3.0,English,"Drama, Comedy",8.7,16+
3,4,Four More Shots Please,2019.0,2.0,Hindi,"Drama, Comedy",5.3,18+
4,5,Fleabag,2016.0,2.0,English,Comedy,8.7,18+

In [40]:
prime_tv_shows_df['Streaming_Service']= 'Amazon_Prime_Video'
prime_tv_shows_df.head()

,S.no.,Name of the show,Year of release,No of seasons available,Language,Genre,IMDb rating,Age of viewers,Streaming_Service
0,1,Pataal Lok,2020.0,1.0,Hindi,Drama,7.5,18+,Amazon_Prime_Video
1,2,Upload,2020.0,1.0,English,Sci-fi comedy,8.1,16+,Amazon_Prime_Video
2,3,The Marvelous Mrs. Maisel,2017.0,3.0,English,"Drama, Comedy",8.7,16+,Amazon_Prime_Video
3,4,Four More Shots Please,2019.0,2.0,Hindi,"Drama, Comedy",5.3,18+,Amazon_Prime_Video
4,5,Fleabag,2016.0,2.0,English,Comedy,8.7,18+,Amazon_Prime_Video

In [41]:
prime_tv_shows_df['Streaming_Service'] = 'Amazon_Prime_Video'
prime_tv_shows_df.head()

,S.no.,Name of the show,Year of release,No of seasons available,Language,Genre,IMDb rating,Age of viewers,Streaming_Service
0,1,Pataal Lok,2020.0,1.0,Hindi,Drama,7.5,18+,Amazon_Prime_Video
1,2,Upload,2020.0,1.0,English,Sci-fi comedy,8.1,16+,Amazon_Prime_Video
2,3,The Marvelous Mrs. Maisel,2017.0,3.0,English,"Drama, Comedy",8.7,16+,Amazon_Prime_Video
3,4,Four More Shots Please,2019.0,2.0,Hindi,"Drama, Comedy",5.3,18+,Amazon_Prime_Video
4,5,Fleabag,2016.0,2.0,English,Comedy,8.7,18+,Amazon_Prime_Video

In [43]:
prime_tv_shows_df = prime_tv_shows_df.rename(columns={'Name of the show':'Title'})
prime_tv_shows_df = prime_tv_shows_df.rename(columns)

NameError: name 'columns' is not defined