In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [4]:
tv_shows_file = "Resources/tv_shows.csv"
tv_shows_df = pd.read_csv(tv_shows_file)
tv_shows_df.head()

,Unnamed: 0,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type,Unnamed: 11
0,0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1,NaN
1,1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1,NaN
2,2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1,NaN
3,3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1,NaN
4,4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1,NaN

In [5]:
netflix_shows_df = tv_shows_df[['Title', 'Age', 'Netflix']]
netflix_shows_df.head()

              Title  Age  Netflix
0      Breaking Bad  18+        1
1   Stranger Things  16+        1
2       Money Heist  18+        1
3          Sherlock  16+        1
4  Better Call Saul  18+        1

In [6]:
netflix_shows_df = netflix_shows_df[netflix_shows_df.Netflix != 0]

In [11]:
netflix_shows_df.dropna(inplace=True)

In [12]:
netflix_shows_df

                                        Title  Age  Netflix
0                                Breaking Bad  18+        1
1                             Stranger Things  16+        1
2                                 Money Heist  18+        1
3                                    Sherlock  16+        1
4                            Better Call Saul  18+        1
...                                       ...  ...      ...
1816                      Grami's Circus Show  all        1
1820                                 Shopkins  all        1
1829                       Six Puppies and Us  all        1
1834  The Great British Baking Show: Holidays  16+        1
1896                          Corvette Nation   7+        1

[1231 rows x 3 columns]

In [13]:
netflix_shows_df.loc[netflix_shows_df.Age == 'all', 'Age']= 'All'

In [14]:
netflix_shows_df

                                        Title  Age  Netflix
0                                Breaking Bad  18+        1
1                             Stranger Things  16+        1
2                                 Money Heist  18+        1
3                                    Sherlock  16+        1
4                            Better Call Saul  18+        1
...                                       ...  ...      ...
1816                      Grami's Circus Show  All        1
1820                                 Shopkins  All        1
1829                       Six Puppies and Us  All        1
1834  The Great British Baking Show: Holidays  16+        1
1896                          Corvette Nation   7+        1

[1231 rows x 3 columns]